{% extends "base.html" %}

{% block styling %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/index_style.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/form_styles.css') }}">
{% endblock %}

{% block content %}

<div>
    <h1>Add Recipes to Basket</h1>

    <form method="post">
        {{ form.csrf_token }}
        <div class="form-row align-items-center">
            <!-- Auto-complete searchbar -->
            <div class="col-auto">
                <label for="recipeSelect">Select Recipe</label>
                <div class="autocomplete" style="width:200px;">
                    <input id="myInput" type="text" name="myRecipe" placeholder="Select Recipe">
                </div>
            </div>
            <div class="col-auto">
                <div class="field">
                    {{ form.quantity.label }}
                    {{ form.quantity }}
                    {% for error in form.quantity.errors %}
                    <p class="validation-error">[{{ error }}]</p>
                    {% endfor %}
                </div>
            </div>
            <div class="col">
                <div class="field">
                    <button type="submit">Add Recipe</button>
                </div>
            </div>
        </div>
    </form>
</div>

<br>

<div class="card-deck">
    {% for item in cbr %}
    <div class="card text-center">
        <!-- <img class="card-img-top" src="{{ url_for('static', filename='img/apples.jpeg') }}" alt="Card image cap"> -->
        <div class="card-body">
            <h4 class="card-title">
                <a class="card-title"
                    href="{{ url_for('recipes.recipe_detail',id=item.recipe_id) }}">{{item.recipes.title.title()}}</a>
                <br><small>Qty: {{item.quantity}}</small>
            </h4>
            <form action="{{ url_for('baskets.delete_basket_recipe', id=item.recipe_id) }}" method="post">
                <input type="hidden" , name="csrf_token" value="{{ csrf_token() }}">
                <div class="field">
                    <button
                        onclick="return confirm('Are you sure you want to remove {{ item.recipes.title }} from the basket?')"
                        class="btn btn-danger">Delete</button>
                </div>
            </form>
        </div>
    </div>
    {% endfor %}
</div>

<br>
<br>
<div>
    <h3>Ingredients</h3>
    <table class="table table-sm" id="basketTable">
        <thead>
            <tr>
                <th scope="col">Ingredient</th>
                <th scope="col">Quantity</th>
                <th scope="col">Unit</th>
                <th scope="col">Category</th>
                <th scope="col">Recipes</th>
            </tr>
        </thead>
        <tbody>
            {% for id, row in agg_ing %}
            <tr>
                <td><input id="title_{{id}}" type="text" value='{{row[0]}}'></td>
                <td><input id="qty_{{id}}" type="text" value='{{row[1]["quantity"]}}'></td>
                <td><input id="unit_{{id}}" type="text" value='{{row[1]["unit"]}}'></td>
                <td>{{row[1]['category']}}</td>
                <td>{{row[1]['recipes']}}</td>
                <td><button type="button" onclick="dropItemFromList('{{id}}')">Drop</button></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <button onclick="addEmptyRow()">New Row</button>

</div>
<script>
    function updateQuantity(Object, id, new_qty) {
        Object[id][1]['quantity'] = new_qty
    }

    const dropItemFromList = function (id) {
        var title = document.getElementById(`title_${id}`)
        var qty = document.getElementById(`qty_${id}`)
        var unit = document.getElementById(`unit_${id}`)
        var elms = [title, qty, unit]
        elms.forEach(elm => elm.classList.toggle('strike-through'))
    }

    const createNewRowContent = function (id) {
        newRow = `<td><input id="title_${id}" type="text"></td>
                <td><input id="qty_${id}" type="text"></td>
                <td><input id="unit_${id}" type="text"></td>
                <td></td>
                <td></td>
                <td><button type="button" onclick="dropItemFromList('${id}')">Drop</button></td>`
        return newRow
    }

    const findCurrentRowsTable = function () {
        return document.getElementById('basketTable').rows.length - 1
    }

    const addEmptyRow = function () {
        const tableObject = document.getElementById('basketTable')
        const newId = findCurrentRowsTable()
        const newRow = tableObject.insertRow(-1)
        newRow.innerHTML = createNewRowContent(newId)
    }

</script>
<script>


    var itemArray
    async function get_data() {
        //get json object with recipes ids and title sorted alphabetically
        const resp = await fetch('/get_recipes', {})
        const json = await resp.json()
        return json
    }

    get_data().then(value => {
        //convert json object to list of ingredients sorted alphabetically
        itemArray = Object.values(value)
        //itemArray.sort()
        //Call to the autocomplete function needs to be made after the promise because
        //otherwise the data isn't available and array is empty
        autocomplete(document.getElementById("myInput"), itemArray);

    })


    function autocomplete(inp, arr) {
        /*the autocomplete function takes two arguments,
        the text field element and an array of possible autocompleted values:*/
        var currentFocus;
        /*execute a function when someone writes in the text field:*/
        inp.addEventListener("input", function (e) {
            var a, b, i, val = this.value;
            /*close any already open lists of autocompleted values*/
            closeAllLists();
            if (!val) { return false; }
            currentFocus = -1;
            /*create a DIV element that will contain the items (values):*/
            a = document.createElement("DIV");
            a.setAttribute("id", this.id + "autocomplete-list");
            a.setAttribute("class", "autocomplete-items");
            /*append the DIV element as a child of the autocomplete container:*/
            this.parentNode.appendChild(a);
            /*for each item in the array...*/
            for (i = 0; i < arr.length; i++) {
                /*check if the item starts with the same letters as the text field value:*/
                if (arr[i].substr(0, val.length).toUpperCase() == val.toUpperCase()) {
                    /*create a DIV element for each matching element:*/
                    b = document.createElement("DIV");
                    /*make the matching letters bold:*/
                    b.innerHTML = "<strong>" + arr[i].substr(0, val.length) + "</strong>";
                    b.innerHTML += arr[i].substr(val.length);
                    /*insert a input field that will hold the current array item's value:*/
                    b.innerHTML += "<input type='hidden' value='" + arr[i] + "'>";
                    /*execute a function when someone clicks on the item value (DIV element):*/
                    b.addEventListener("click", function (e) {
                        /*insert the value for the autocomplete text field:*/
                        inp.value = this.getElementsByTagName("input")[0].value;
                        /*close the list of autocompleted values,
                        (or any other open lists of autocompleted values:*/
                        closeAllLists();
                    });
                    a.appendChild(b);
                }
            }
        });
        /*execute a function presses a key on the keyboard:*/
        inp.addEventListener("keydown", function (e) {
            var x = document.getElementById(this.id + "autocomplete-list");
            if (x) x = x.getElementsByTagName("div");
            if (e.keyCode == 40) {
                /*If the arrow DOWN key is pressed,
                increase the currentFocus variable:*/
                currentFocus++;
                /*and and make the current item more visible:*/
                addActive(x);
            } else if (e.keyCode == 38) { //up
                /*If the arrow UP key is pressed,
                decrease the currentFocus variable:*/
                currentFocus--;
                /*and and make the current item more visible:*/
                addActive(x);
            } else if (e.keyCode == 13) {
                /*If the ENTER key is pressed, prevent the form from being submitted,*/
                e.preventDefault();
                if (currentFocus > -1) {
                    /*and simulate a click on the "active" item:*/
                    if (x) x[currentFocus].click();
                }
            }
        });
        function addActive(x) {
            /*a function to classify an item as "active":*/
            if (!x) return false;
            /*start by removing the "active" class on all items:*/
            removeActive(x);
            if (currentFocus >= x.length) currentFocus = 0;
            if (currentFocus < 0) currentFocus = (x.length - 1);
            /*add class "autocomplete-active":*/
            x[currentFocus].classList.add("autocomplete-active");
        }
        function removeActive(x) {
            /*a function to remove the "active" class from all autocomplete items:*/
            for (var i = 0; i < x.length; i++) {
                x[i].classList.remove("autocomplete-active");
            }
        }
        function closeAllLists(elmnt) {
            /*close all autocomplete lists in the document,
            except the one passed as an argument:*/
            var x = document.getElementsByClassName("autocomplete-items");
            for (var i = 0; i < x.length; i++) {
                if (elmnt != x[i] && elmnt != inp) {
                    x[i].parentNode.removeChild(x[i]);
                }
            }
        }
        /*execute a function when someone clicks in the document:*/
        document.addEventListener("click", function (e) {
            closeAllLists(e.target);
        });
    }



</script>

{% endblock %}