{% extends "base.html" %}

{% block styling %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/index_style.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/form_styles.css') }}">
{% endblock %}

{% block content %}
<div class="form">
    <h1>Add Ingredients to {{recipe}} Recipe</h1>

    <form method="post">
        {{ form.csrf_token }}
        <div class="row">
            <div class="col">
                <div class="field">
                    {{ form.category_id.label }}
                    {{ form.category_id }}
                    {% for error in form.category_id.errors %}
                    <p class="validation-error">[{{ error }}]</p>
                    {% endfor %}
                </div>
            </div>
            <div class="col">
                <div class="field">
                    {{ form.ingredient_id.label }}
                    {{ form.ingredient_id }}
                    {% for error in form.ingredient_id.errors %}
                    <p class="validation-error">[{{ error }}]</p>
                    {% endfor %}
                    <a href="{{ url_for('ingredients.list_items')}}">Ingredient not show? Add it!</a>
                </div>
            </div>
            <div class="col">
                <div class="field">
                    {{ form.quantity.label }}
                    {{ form.quantity }}
                    {% for error in form.quantity.errors %}
                    <p class="validation-error">[{{ error }}]</p>
                    {% endfor %}
                </div>
            </div>
            <div class="col">
                <div class="field">
                    {{ form.unit.label }}
                    {{ form.unit }}
                    {% for error in form.unit.errors %}
                    <p class="validation-error">[{{ error }}]</p>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="field">
            <button type="submit" class="btn btn-primary">Add ingredient to {{recipe}} </button>
        </div>
    </form>
</div>

<br>
<div>
    <h3>{{ recipe }}</h3>
    <table class="table table-sm">
        <thead>
            <tr>
                <th scope="col">Ingredient</th>
                <th scope="col">Quantity</th>
                <th scope="col">Unit</th>
                <th scope="col">Update</th>
                <th scope="col">Delete</th>
            </tr>
        </thead>
        <tbody>
            {% for row in table_list %}
            <tr>
                <td>{{row.ingredient}}</td>
                <td>{{row.quantity}}</td>
                <td>{{row.unit}}</td>
                <td><button type="button"
                        onclick="window.location.href='{{url_for('recipes.recipe_update', title=recipe, id=row.ingredient.id)}}'"
                        class="btn btn-primary">Update</button>
                </td>
                <td><button type="button"
                        onclick="window.location.href='{{url_for('recipes.delete_recipe_ingredient', title=recipe, id=row.ingredient.id)}}'"
                        class="btn btn-danger">Delete</button>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

</div>
<script>
    let cat_id_elm = document.getElementById('category_id')
    let ing_id_elm = document.getElementById('ingredient_id')

    const update_ingredients_list = function () {
        cat_id = cat_id_elm.value
        fetch(`/${cat_id}/ingredients`).then(function (response) {
            response.json().then(function (data) {
                let optionalHTML = ''
                for (const [k, v] of Object.entries(data)) {
                    optionalHTML += `<option value="${k}">${v}</option>`
                }
                ing_id_elm.innerHTML = optionalHTML
            }
            )
        })
    }
    //update ingredients on page load
    window.onload = function () {
        update_ingredients_list()
    }
    //update ingredients on when category changed load
    cat_id_elm.onchange = function () {
        update_ingredients_list()
    }

</script>

{% endblock %}