/* Homepage Styling
 ******************/
 .container {
    display: flex;
    justify-content: space-between;
    margin: 60px 0 40px;
  }
  
  .content-text {
    order: 1;
    flex: 1 1 auto;
    margin: 10px 0 calc(var(--spacer) * 2) calc(var(--spacer) * 2);
  }
  
  .content-text h1 {
    font-size: 2.3rem;
    font-weight: 300;
  }
  
  .content-text h1 strong {
    display: block;
    font-weight: 700;
  }
  
  .content-text p {
    font-size: 1.25rem;
    margin-top: 0.5em;
    max-width: 35ch;
  }
  
  .content-image {
    order: 0;
    flex: 1 0 320px;
    margin: auto;
  }
  
  @media (max-width: 650px) {
    .container {
      flex-direction: column;
    }
  
    .content-text {
      order: 0;
      margin: 0 var(--spacer);
    }
  
    .content-text h1 {
      font-size: 1.8rem;
    }
  
    .content-image {
      order: 1;
    }
  }
  
/* .card-deck{
  margin-top: 10px;
  margin-left: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 200px));
  grid-gap: .5rem;} */

.card-deck{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 1rem;

}

.hide {
    display: none !important;
}

/*CSS required for autocomplete*/

.autocomplete {
    /*the container must be positioned relative:*/
    position: relative;
    display: inline-block;
  }
  input {
    border: 1px solid transparent;
    background-color: #f1f1f1;
    padding: 10px;
    font-size: 16px;
  }
  input[type=text] {
    background-color: #f1f1f1;
    width: 100%;
  }
  input[type=submit] {
    background-color: DodgerBlue;
    color: #fff;
  }
  .autocomplete-items {
    position: absolute;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    /*position the autocomplete items to be the same width as the container:*/
    top: 100%;
    left: 0;
    right: 0;
  }
  .autocomplete-items div {
    padding: 10px;
    cursor: pointer;
    background-color: #fff;
    border-bottom: 1px solid #d4d4d4;
  }
  .autocomplete-items div:hover {
    /*when hovering an item:*/
    background-color: #e9e9e9;
  }
  .autocomplete-active {
    /*when navigating through the items using the arrow keys:*/
    background-color: DodgerBlue !important;
    color: #ffffff;
  }