{% extends "base.html" %}

{% block styling %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/index_style.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/form_styles.css') }}">
{% endblock %}

{% block content %}
<div class="container-fluid">
    <center>
        <div class="card bg-dark text-white">
            <img class="card-img-top" src="{{ url_for('static', filename='img/food.jpeg') }}" alt="various foods">
            <div class="card-img-overlay">
                <h1 class="card-title display-1 text-light bg-dark" style="opacity: .8">
                    Welcome to the Recipe App
                </h1>
            </div>
        </div>
    </center>
</div>

<div>
    <a href="{{ url_for('recipes.add_recipe')}}">Add a new recipe</a>
</div>
<div class="card-deck">
    {% for recipe in recipes %}
    <div class="card text-center">
        <img class="card-img-top" src="{{ url_for('static', filename='img/apples.jpeg') }}" alt="Card image cap">
        <div class="card-body">
            <h4 class="card-title">
                <a class="card-title" href="{{ url_for('recipes.recipe_detail',id=recipe.id) }}">{{recipe.title}}</a>
            </h4>
            <form method="get" action="/update_recipe/{{recipe.id}}">
                <input type="hidden" , name="csrf_token" value="{{ csrf_token() }}">
                <div class="field">
                    <button type='sumit' class="btn btn-warning">Update</button>
                </div>
            </form>
            <form action="{{ url_for('recipes.delete_recipe', id=recipe.id) }}" method="post">
                <input type="hidden" , name="csrf_token" value="{{ csrf_token() }}">
                <div class="field">
                    <button onclick="return confirm('Are you sure you want to delete {{ recipe.title }}?')"
                        class="btn btn-danger">Delete</button>
                </div>
            </form>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}