{% extends "base.html" %}

{% block styling %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/index_style.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/form_styles.css') }}">
{% endblock %}

{% block content %}
<div class="form-wrap">
    <h1>Update Qty/Unit of {{recipe_ing.ingredient}} in {{title}}</h1>

    <form method="post">
        {{ form.csrf_token }}

        <div class="field">
            {{ form.quantity.label }}
            {{ form.quantity }}
            {% for error in form.quantity.errors %}
            <p class="validation-error">[{{ error }}]</p>
            {% endfor %}
        </div>

        <div class="field">
            {{ form.unit.label }}
            {{ form.unit }}
            {% for error in form.unit.errors %}
            <p class="validation-error">[{{ error }}]</p>
            {% endfor %}
        </div>

        <div class="field">
            <button type="submit" class="btn btn-primary btn-lg">Update</button>
        </div>
    </form>
</div>

{% endblock %}