{% extends "base.html" %}

{% block styling %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/index_style.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/form_styles.css') }}">
{% endblock %}

{% block content %}
<div class="form-wrap">
    <h1>Create Recipes</h1>

    <form method="post">
        {{ form.csrf_token }}

        <div class="field">
            {{ form.title.label }}
            {{ form.title }}
            {% for error in form.title.errors %}
            <p class="validation-error">[{{ error }}]</p>
            {% endfor %}
        </div>

        <div class="field">
            {{ form.method.label }}
            {{ form.method }}
            {% for error in form.method.errors %}
            <p class="validation-error">[{{ error }}]</p>
            {% endfor %}
        </div>

        <div class="field">
            <button type="submit">Create Recipe</button>
        </div>
    </form>
</div>

<br>

<div class="card-deck">
    {% for recipe in recipes %}
    <div class="card text-center">
        <img class="card-img-top" src="{{ url_for('static', filename='img/apples.jpeg') }}" alt="Card image cap">
        <div class="card-body">
            <h4 class="card-title">
                <a class="card-title"
                    href="{{ url_for('recipes.recipe_detail',title=recipe.title) }}">{{recipe.title}}</a>
            </h4>
            <form action="{{ url_for('recipes.delete_recipe', id=recipe.id) }}" method="post">
                <input type="hidden" , name="csrf_token" value="{{ csrf_token() }}">
                <div class="field">
                    <button onclick="return confirm('Are you sure you want to delete {{ recipe.title }}?')"
                        class="btn btn-danger">Delete</button>
                </div>
            </form>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}