{% extends "base.html" %}

{% block styling %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/index_style.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/form_styles.css') }}">
{% endblock %}

{% block content %}
<div>
    {% if update %}
    <form method="post" action='/update_recipe/{{id}}'>
        {% else %}
        <form method="post" action='/add_recipe'>
            {% endif %}
            <input type="hidden" , name="csrf_token" value="{{ csrf_token() }}">
            <div class="form-group">
                {% if not update %}
                <label for="recipeTitle">Add a New Recipe</label>
                {% else %}
                <label for="recipeTitle">Update Recipe</label>
                {% endif %}
                {% if recipe_title %}
                <input type="text" class="form-control" id="recipe_title" name='recipeTitle' value="{{recipe_title}}"
                    required>
                {% else %}
                <input type="text" class="form-control" id="recipe_title" name='recipeTitle' placeholder="Recipe Title"
                    required>
                {% endif %}
            </div>
            <label>Method</label>
            <div id="method_items">
                {% if steps %}
                <div class="form-row">
                    <div class="form-group col-md-11">
                        <input type="text" class="form-control" id="step1" value="{{steps[0][1]}}"
                            name='step_{{steps[0][0]}}' required>
                    </div>
                </div>
                {% for step in steps[1:] %}
                <div class="form-row">
                    <div class="form-group col-md-11">
                        <input type="text" class="form-control" id="step1" value="{{step[1]}}" name='step_{{step[0]}}'
                            required>
                    </div>
                    <div class="col-md-1">
                        <button type="button" id="deletButton{{step[0]}}" class="btn btn-light">❌</button>
                    </div>
                </div>
                {% endfor %}
                {% else %}
                <div class="form-row">
                    <div class="form-group col-md-11">
                        <input type="text" class="form-control" id="step1" placeholder="Step 1" name='step_1' required>
                    </div>
                </div>
                {% endif %}
            </div>
            <button type="button" class="btn btn-primary" id="addStep">Add step</button>
            <br>
            <br>
            <!-- Auto-complete searchbar -->
            <div>
                <label for="ingredientSelect">Add Ingredients</label>
                <div class="autocomplete" style="width:200px;">
                    <input id="myInput" type="text" name="myIngredient" placeholder="Ingredient">
                </div>
                <button type="button" class="btn btn-primary" id="addInput">Add</button>
            </div>
            <div id="ingredient_items">
                <div class="form-row">
                    <div class="col-md-6">
                        <label for="ingredient">Ingredients</label>
                    </div>
                    <div class="col-md-2">
                        <label for="quantity">Quantity</label>
                    </div>
                    <div class="col-md-3">
                        <label for="units">Units</label>
                    </div>
                </div>
                {% if ingredients %}
                {% for i in ingredients %}
                <div class="form-row" id="ingredient{{i['num']}}">
                    <div class="col-md-6"><input class="form-control" type="text" required="true" value="{{i['item']}}"
                            readonly="true" name="ingredient_{{i['num']}}"></div>
                    <div class="col-md-2"><input class="form-control" type="number" required="true"
                            value="{{i['quantity']}}" name="ingredient_quantity_{{i['num']}}" min="0"></div>
                    <div class="col-md-3"><select class="form-control" id="inputUnit"
                            name="ingredient_unit_{{i['num']}}">
                            {% for u in units %}
                            {% if u[0] == i['unit'] %}
                            <option selected="true" value="{{u[0]}}">{{u[1]}}</option>
                            {% else %}
                            <option value="{{u[0]}}">{{u[1]}}</option>
                            {% endif %}
                            {% endfor %}

                        </select>
                    </div>
                    <div class="col-md-1"><button type="button" id="deleteIngredient{{i['num']}}"
                            class="btn btn-light">❌</button>
                    </div>
                </div>
                {% endfor %}
                {% endif %}
            </div>
            <br>
            <br>
            <div class="field">
                <button type="submit">Submit</button>
            </div>
        </form>
</div>
<script>
    const units = ['n/a', 'g', 'ml', 'tsp', 'tbsp', 'cup', 'fl oz', 'pint', 'ounce', 'lb']

    createFormDivCol = function (cols) {
        const newDiv = document.createElement('div')
        newDiv.classList.add(`col-md-${cols}`)
        return newDiv
    }

    createFormInput = function (type, id, value = null, readonly = false) {
        const newInput = document.createElement('input')
        newInput.classList.add('form-control')
        newInput.setAttribute('type', type)
        newInput.setAttribute('required', true)
        newInput.setAttribute('value', value)
        if (readonly) {
            newInput.setAttribute('readonly', true)
            newInput.setAttribute('name', `ingredient_${id}`)
        } else {
            newInput.setAttribute('name', `ingredient_quantity_${id}`)
            newInput.setAttribute('min', 0)
        }
        return newInput
    }

    createSelectInput = function (id) {
        const newSelect = document.createElement('select')
        newSelect.classList.add('form-control')
        newSelect.setAttribute('id', 'inputUnit')
        newSelect.setAttribute('name', `ingredient_unit_${id}`)

        Object.entries(units).forEach(tup => {
            let newOption = document.createElement('option')
            if (tup[1] === 'n/a') { newOption.setAttribute('selected', true) }
            newOption.value = tup[0]
            newOption.innerHTML = tup[1]
            newSelect.appendChild(newOption)
        })

        return newSelect

    }

    setDeteleOnClickSteps = function () {
        const deleteElmDivs = document.getElementsByClassName('col-md-1')
        if (deleteElmDivs) {
            [...deleteElmDivs].forEach(elm => {
                elm.children[0].addEventListener('click', event => {
                    let toDelete = elm.parentElement
                    let toDeleteFrom = elm.parentElement.parentElement
                    const renumber = toDeleteFrom.id === 'method_items'
                    toDeleteFrom.removeChild(toDelete)
                    if (renumber) {
                        numberSteps()
                    } else {
                        numberIngredients()
                    }

                })
            })
        }
    }

    createDeleteButtonDiv = function (id, post_func = null) {
        //id of new delete button
        // post_func: the renumber function either for steps or ingredients
        const newButtonDiv = document.createElement('div')
        newButtonDiv.classList.add('col-md-1')

        const newDeleteButton = document.createElement('button')
        newDeleteButton.setAttribute('type', `button`)
        newDeleteButton.setAttribute('id', id)
        newDeleteButton.classList.add('btn', 'btn-light')
        newDeleteButton.textContent = "❌"
        newDeleteButton.addEventListener('click', event => {
            const parentDivRow = newButtonDiv.parentElement
            const grandparent = parentDivRow.parentElement
            grandparent.removeChild(parentDivRow)

            if (post_func) { post_func() }
        })
        newButtonDiv.appendChild(newDeleteButton)
        return newButtonDiv
    }

    createFormGroupIngredients = function (ingredient) {
        const ingredientItems = document.getElementById('ingredient_items')
        const numberOfItems = ingredientItems.children.length || 1
        const formRowDiv = document.createElement('div')
        formRowDiv.classList.add('form-row')
        formRowDiv.setAttribute('id', `ingredient${numberOfItems}`)
        //ingredient read only
        let newDivCol1 = createFormDivCol(6)
        newDivCol1.appendChild(createFormInput('text', numberOfItems, ingredient, readonly = true))
        // quantity defaul to 1
        let newDivCol2 = createFormDivCol(2)
        newDivCol2.appendChild(createFormInput('number', numberOfItems, 1))
        //unit selection
        let newDivCol3 = createFormDivCol(3)
        newDivCol3.appendChild(createSelectInput(numberOfItems))
        // Add delete button
        formRowDiv.append(
            newDivCol1, newDivCol2, newDivCol3,
            //numberIngredients is to renumber ingredients after one deleted
            createDeleteButtonDiv(`deleteIngredient${numberOfItems}`, numberIngredients))
        return formRowDiv
    }

    addIngredient = async function () {
        const inputValue = document.getElementById('myInput').value
        console.log(inputValue)
        get_data().then(value => {
            itemArray = Object.values(value)
            if (inputValue && itemArray.includes(inputValue)) {
                const newIngredient = createFormGroupIngredients(inputValue)
                const existingIngredients = document.getElementById('ingredient_items')
                existingIngredients.appendChild(newIngredient)
                //make the search bar empty again
                document.getElementById('myInput').value = ''
            } else {
                alert(`${inputValue} is not a recognized ingredient`)
            }
        })
    }

    numberSteps = function () {
        var methodArray = document.getElementById('method_items')
        const divArray = [...methodArray.children]
        let i = 1
        divArray.forEach(item => {
            const inputTemp = item.querySelector('input')
            const deleteTemp = item.querySelector('button')
            inputTemp.setAttribute('id', `step${i}`)
            inputTemp.setAttribute('name', `step_${i}`)
            inputTemp.setAttribute('placeholder', `Step ${i}`)
            //avoid trying to label the first step which is always required so has no delete button
            if (i > 1) deleteTemp.setAttribute('id', `delete${i}`)
            i++
        })
    }

    renumberIngredientFormRowDiv = function (div, id) {
        console.log(div)
        div.setAttribute('id', `ingredient${id}`)
        const inputValue = div.getElementsByClassName('col-md-6')[0].children[0]
        inputValue.setAttribute('name', `ingredient_${id}`)
        const inputQty = div.getElementsByClassName('col-md-2')[0].children[0]
        inputQty.setAttribute('name', `ingredient_quantity_${id}`)
        const inputUnit = div.getElementsByClassName('col-md-3')[0].children[0]
        inputUnit.setAttribute('name', `ingredient_unit_${id}`)
        const inputDelete = div.getElementsByClassName('col-md-1')[0].children[0]
        inputDelete.setAttribute('id', `deleteIngredient${id}`)
    }

    numberIngredients = function () {
        var methodArray = document.getElementById('ingredient_items')
        const divArray = [...methodArray.children]
        let i = 0
        divArray.forEach(item => {
            if (i > 0) { renumberIngredientFormRowDiv(item, i) }
            i++
        })
    }

    addStep = function () {
        var methodArray = document.getElementById('method_items')
        const currentNumSteps = methodArray.childElementCount

        //create div element
        const newStep = document.createElement('div')
        newStep.classList.add('form-row')

        //create input element
        const newInputDiv = document.createElement('div')
        newInputDiv.classList.add('form-group', 'col-md-11')

        const newInput = document.createElement('input')
        newInput.classList.add('form-control')
        newInput.setAttribute('id', `step${currentNumSteps + 1}`)
        newInput.setAttribute('name', `step_${currentNumSteps + 1}`)
        newInput.setAttribute('type', "text")
        newInput.setAttribute('required', true)
        newInput.setAttribute('placeholder', `Step ${currentNumSteps + 1}`)

        const delet_button_id = `deletButton${currentNumSteps + 1}`
        const newDeleteButtonDiv = createDeleteButtonDiv(delet_button_id, numberSteps)

        newInputDiv.appendChild(newInput)
        newStep.append(newInputDiv, newDeleteButtonDiv)
        //add new step
        methodArray.appendChild(newStep)
    }

    deleteStep = function (elm) {
        const formRowToDelete = elm.parentElement
        const parElm = formRowToDelete.parentElement
        parElm.removeChild(formRowToDelete)
        numberSteps()
    }

    var itemArray
    async function get_data() {
        //get json object with ingredients and ingredient id
        const resp = await fetch('/get_items', {})
        const json = await resp.json()
        return json
    }

    get_data().then(value => {
        //convert json object to list of ingredients sorted alphabetically
        itemArray = Object.values(value)
        itemArray.sort()
        //Call to the autocomplete function needs to be made after the promise because
        //otherwise the data isn't available and array is empty
        autocomplete(document.getElementById("myInput"), itemArray);

    })

    function autocomplete(inp, arr) {
        /*the autocomplete function takes two arguments,
        the text field element and an array of possible autocompleted values:*/
        var currentFocus;
        /*execute a function when someone writes in the text field:*/
        inp.addEventListener("input", function (e) {
            var a, b, i, val = this.value;
            /*close any already open lists of autocompleted values*/
            closeAllLists();
            if (!val) { return false; }
            currentFocus = -1;
            /*create a DIV element that will contain the items (values):*/
            a = document.createElement("DIV");
            a.setAttribute("id", this.id + "autocomplete-list");
            a.setAttribute("class", "autocomplete-items");
            /*append the DIV element as a child of the autocomplete container:*/
            this.parentNode.appendChild(a);
            /*for each item in the array...*/
            for (i = 0; i < arr.length; i++) {
                /*check if the item starts with the same letters as the text field value:*/
                if (arr[i].substr(0, val.length).toUpperCase() == val.toUpperCase()) {
                    /*create a DIV element for each matching element:*/
                    b = document.createElement("DIV");
                    /*make the matching letters bold:*/
                    b.innerHTML = "<strong>" + arr[i].substr(0, val.length) + "</strong>";
                    b.innerHTML += arr[i].substr(val.length);
                    /*insert a input field that will hold the current array item's value:*/
                    b.innerHTML += "<input type='hidden' value='" + arr[i] + "'>";
                    /*execute a function when someone clicks on the item value (DIV element):*/
                    b.addEventListener("click", function (e) {
                        /*insert the value for the autocomplete text field:*/
                        inp.value = this.getElementsByTagName("input")[0].value;
                        /*close the list of autocompleted values,
                        (or any other open lists of autocompleted values:*/
                        closeAllLists();
                    });
                    a.appendChild(b);
                }
            }
        });
        /*execute a function presses a key on the keyboard:*/
        inp.addEventListener("keydown", function (e) {
            var x = document.getElementById(this.id + "autocomplete-list");
            if (x) x = x.getElementsByTagName("div");
            if (e.keyCode == 40) {
                /*If the arrow DOWN key is pressed,
                increase the currentFocus variable:*/
                currentFocus++;
                /*and and make the current item more visible:*/
                addActive(x);
            } else if (e.keyCode == 38) { //up
                /*If the arrow UP key is pressed,
                decrease the currentFocus variable:*/
                currentFocus--;
                /*and and make the current item more visible:*/
                addActive(x);
            } else if (e.keyCode == 13) {
                /*If the ENTER key is pressed, prevent the form from being submitted,*/
                e.preventDefault();
                if (currentFocus > -1) {
                    /*and simulate a click on the "active" item:*/
                    if (x) x[currentFocus].click();
                }
            }
        });
        function addActive(x) {
            /*a function to classify an item as "active":*/
            if (!x) return false;
            /*start by removing the "active" class on all items:*/
            removeActive(x);
            if (currentFocus >= x.length) currentFocus = 0;
            if (currentFocus < 0) currentFocus = (x.length - 1);
            /*add class "autocomplete-active":*/
            x[currentFocus].classList.add("autocomplete-active");
        }
        function removeActive(x) {
            /*a function to remove the "active" class from all autocomplete items:*/
            for (var i = 0; i < x.length; i++) {
                x[i].classList.remove("autocomplete-active");
            }
        }
        function closeAllLists(elmnt) {
            /*close all autocomplete lists in the document,
            except the one passed as an argument:*/
            var x = document.getElementsByClassName("autocomplete-items");
            for (var i = 0; i < x.length; i++) {
                if (elmnt != x[i] && elmnt != inp) {
                    x[i].parentNode.removeChild(x[i]);
                }
            }
        }
        /*execute a function when someone clicks in the document:*/
        document.addEventListener("click", function (e) {
            closeAllLists(e.target);
        });
    }

    //Event listener for add step
    const addStepButton = document.getElementById('addStep')
    addStepButton.addEventListener('click', event => {
        addStep()
    })

    const addIngredientButton = document.getElementById('addInput')
    addIngredientButton.addEventListener('click', event => {
        console.log('tried to add ingredient')
        addIngredient()
    })

    document.addEventListener('DOMContentLoaded', function () {
        setDeteleOnClickSteps()
    })

</script>

{% endblock %}