{% extends "base.html" %}

{% block styling %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/index_style.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/form_styles.css') }}">
{% endblock %}


{% block content %}
<div class="container">
    <header class="content-text">
        <h1>Welcome to the Recipe App</h1>
        <p>Add new categories</p>
    </header>
    <figure class="content-image">
        <img src="{{ url_for('static', filename='img/food.jpeg') }}" alt="various foods">
    </figure>
</div>

<div class="form-wrap">
    <h1>
        Add a new category:
    </h1>
    <form method="post">
        <input type="hidden" , name="csrf_token" value="{{ csrf_token() }}">
        <div class="field">
            <label for="category_name">Category Type: <em>(required)</em></label>
            <!-- Add required property to the form fields -->
            <input type="text" id="category_name" name="category_name" required>
        </div>
        <div class="field">
            <button type="submit">Submit</button>
        </div>
    </form>
</div>

<br>

<div class="card-deck">
    {% for item in category_list %}
    <div class="card">
        <img class="card-img-top" src="{{ url_for('static', filename='img/apples.jpeg') }}" alt="Food Category Type">
        <div class="card-body">
            <h5 h5 class="card-title">{{item}}</h5>
            <button type="button" onclick="confirmDelete( '{{ item }}', '{{ item.id }}' )"
                class="btn btn-danger">Delete</button>
            <!-- <form action="{{ url_for('ingredients.delete_category', id=item.id) }}" method="post">
                <input type="hidden" , name="csrf_token" value="{{ csrf_token() }}">
                <div class="field">
                    <button onclick="return confirm('Are you sure?')">Delete</button>
                </div>
            </form> -->
        </div>
    </div>
    {% endfor %}
</div>
<script>
    const confirmDelete = function (title, id) {
        var check = confirm(`Are you sure you want to delete ${title}`)
        if (check) {
            window.location.href = `/categories/delete/${id}`
        }
    }
</script>

{% endblock %}