{% extends "base.html" %}

{% block styling %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/form_styles.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/index_style.css') }}">
{% endblock %}


{% block content %}

<div>
    <h1>
        Add a new Ingredient:
    </h1>
    <form method="POST" class="form-row align-items-center">
        <div class="col-4">
            <div class="field">
                <label for="item">Item: <em>(required)</em></label>
            </div>
        </div>
        <div class="col-4">
            <div class="field">
                <label for="category">Food Category: <em>(required)</em></label>
            </div>
        </div>
    </form>
    <form method="POST" class="form-row align-items-center">
        <input type="hidden" , name="csrf_token" value="{{ csrf_token() }}">
        <div class="col-4">
            <div class="field">
                <input type="text" id="item" name="item" required>
            </div>
        </div>
        <div class="col-4">
            <div class="field">
                <select class="custom-select" name="category">
                    {% for i, cat in categories_drop_down %}
                    <option value={{i}} type="text" id="category" name="category" required>{{cat}}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="col-2">
            <div class="field">
                <label></label>
                <button type="submit" class='btn'>Submit</button>
            </div>
        </div>
    </form>
</div>
<br>
<div class="form-wrap">
    <form>
        <h2> Search Existing Ingredients</h2>
        <input type="text" id="search_bar" placeholder="search for ingredient">
    </form>
</div>
<br>

<div class="card-deck">
    {% for item in items %}
    <div class="card">
        <img class="card-img-top" src="{{ url_for('static', filename='img/{}'.format(item.img_url)) }}"
            alt="{{item.name}}">
        <div class="card-body">
            <h5 h5 class="card-title">{{item}}</h5>
            <button type="button" class="btn btn-warning btn-sm"><a href="items/update/{{ item.id }}">Update</a></button>
            <button type="button" onclick="confirmDelete( '{{ item }}', '{{ item.id }}' )"
                class="btn btn-danger btn-sm">Delete</button>
        </div>
    </div>
    {% endfor %}
</div>
<script>
    const confirmDelete = function (title, id) {
        var check = confirm(`Are you sure you want to delete ${title}`)
        if (check) {
            window.location.href = `/items/delete/${id}`
        }
    }
</script>
<script>
    const updateIngredient = function (id) {
        window.location.href = `/items/update/${id}`
        }
    }
</script>

<script>
    //This script is used to populate item search with which ever ingredient is clicked
    const inputValue = document.getElementById('item')
    document.querySelectorAll('.card').forEach(item => {
        item.addEventListener("click", event => {
            const selectedItem = item.getElementsByTagName('h5')[0].textContent
            console.log(selectedItem)
            inputValue.value = selectedItem
        })
    })
</script>
<script>
    //Add script for dynamic search bar - cards on page filtered to text content
    const searchInput = document.getElementById('search_bar')
    const cardItems = document.getElementsByClassName('card')

    //add event listner to search_bar to 
    searchInput.addEventListener('input', (e) => {
        console.log(e.target.value)
        console.log(this.value)
        Object.keys(cardItems).forEach(key => {
            const cardTitle = cardItems[key].getElementsByTagName('h5')[0].textContent.toLowerCase()
            const isVisible = cardTitle.includes(e.target.value.toLowerCase())
            cardItems[key].classList.toggle('hide', !isVisible)
        })
    })

</script>

{% endblock %}