{% extends "base.html" %}

{% block styling %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/index_style.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/form_styles.css') }}">
{% endblock %}


{% block content %}
<div class="container">
    <header class="content-text">
        <h1>Welcome to the Recipe App</h1>
        <p>Add any missing items</p>
    </header>
    <figure class="content-image">
        <img src="{{ url_for('static', filename='img/food.jpeg') }}" alt="various foods">
    </figure>
</div>

<div class="form-wrap">
    <h1>
        Add a new item:
    </h1>
    <form method="post">
        <div class="field">
            <label for="item">Item: <em>(required)</em></label>
            <!-- Add required property to the form fields -->
            <input type="text" id="item" name="item" required>
        </div>

        <!-- <div class="field">
            <label for="category">Food Category: <em>(required)</em></label>
            <input type="text" id="category" name="category" />
        </div> -->

        <div class="field">
            <label for="category">Food Category: <em>(required)</em></label>
            <select class="custom-select" name="category">
                <!-- <option selected>Open this select menu</option> -->
                {% for i, cat in categories_drop_down %}
                <option value={{cat}} type="text" id="category" name="category">{{cat}}</option>
                {% endfor %}
            </select>
        </div>

        <div class="field">
            <button type="submit">Submit</button>
        </div>
    </form>
</div>

<br>

<div class="card-deck">
    {% if 'items' in session %}
    {% for item in session['items']%}
    <div class="card">
        <img class="card-img-top" src="{{ url_for('static', filename='img/apples.jpeg') }}" alt="Card image cap">
        <div class="card-body">
            <h5 h5 class="card-title">{{item}}</h5>
        </div>
    </div>
    {% endfor %}
    {% else %}
    {% for item in items %}
    <div class="card">
        <img class="card-img-top" src="{{ url_for('static', filename='img/apples.jpeg') }}" alt="Card image cap">
        <div class="card-body">
            <h5 h5 class="card-title">{{item}}</h5>
        </div>
    </div>
    {% endfor %}
</div>
{% endif %}

{% endblock %}